[Unit]
Description=Enables the Pi Webcam Service

[Service]
ExecStart=/home/pi/pi-camera/piwebcam
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=piwebcam
User=pi
Group=pi
WorkingDirectory=/home/pi/pi-camera/

[Install]
WantedBy=basic.target
